body {
	background: transparent url( '/crud_api/resources/img/background/background.jpg' )no-repeat center center/cover;
	background-attachment: fixed;
}

.bg-trasparent-black {
	background-color: rgba(0,0,0, 0.6);
	color: #ffffff;
}

.table-responsive {
	border: none;
}

.border-color-gray {
	border: 2px solid gainsboro;
}

.border-radius-min  {
	border-radius: 6px;
	margin-top: 20px;
}

.bg-color-white {
	background: white;
}

.