div #jumbotronMain {
	background-color: #76508E;
	color: #ffffff;
}

div #jumbotronRegister {
	background-color: #482D57;
	color: #ffffff;
}

div #jumbotronAbout {
	background-color: #76508E;
	color: #ffffff;
}

div #jumbotronCrud {
	background-color: #03C1EB;
	color: #000000;
}