div #jumbotronMain {
	background-color: #76508E;
	color: #ffffff;
}

div #jumbotronRegister {
	background-color: #76508E;
	color: #ffffff;
}

div #jumbotronAbout {
	background-color: #76508E;
	color: #ffffff;
} 