<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Crud and API</title>
	<!-- Scripts -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<!-- Styles -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<!-- Navbar -->
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/crud_api">Crud+</a>
				</div>

				<div class="collapse navbar-collapse" id="navbar1">
					<ul class="nav navbar-nav">
						<!--<li class="active"><a href="#">Link<span class="sr-only">(current)</span></a></li>-->
						<li><a href="#">WEBSERVICES</a></li>
						<li><a href="#">CRUD</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Registro</a></li>
						<li><a href="#">Ingreso</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header>
	<!-- Seccion #1 -->
	<section>
		<div class="container">
			<div class="jumbotron" id="jumbotronMain">
				<h2>Acerca de...</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. A voluptas omnis, est, totam atque tempore minima repellendus officiis recusandae incidunt delectus fugiat labore repudiandae ab expedita, dolores at sit porro!
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dolorum, odio laudantium animi atque iste totam aliquid vitae nobis nostrum quos porro ipsam voluptate impedit. Sit quas, doloribus delectus libero?
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, quasi. Corporis sit, nam eveniet debitis sunt voluptates officiis expedita laboriosam. Obcaecati repudiandae dolorem nostrum. Pariatur id, sint eos tempore. Dignissimos.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi asperiores accusamus culpa, autem consectetur, similique quod nesciunt laudantium placeat id totam sunt. Facilis dolores quidem sit vero, accusantium ipsam odio.
				</p>
			</div>
		</div>
	</section>
</body>
</html>